<!DOCTYPE html>
<html lang="en-US">
<script src="plugins/angular/angular.js"></script>
<script src="plugins/angular/angular-resourse.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-touch.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
 <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
 <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
 <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
 <script src="http://ui-grid.info/release/ui-grid.js"></script>
 <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
<script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

<script src='plugins/nprogress/nprogress.js'></script>
<link rel='stylesheet' href='plugins/nprogress/nprogress.css'/>
<script type="text/javascript" src="plugins/underscore.js"></script>

 <script src="/js/index.js"></script>

 <link rel="stylesheet" href="stylesheets/style.css" />


<body>
<div ng-app="app" >
		<div class="col-md-12">
			<div class="row">
				<div style="height:45px;background:#337ab7;">
					<div class="pull-right" style="margin-right:20px; margin-top:10px;">
						<a class="link" href="#/">Customers</a>
						<a class="link" href="#home">Home</a>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-view>
</div>
</div>


<script>

</script>



</body>
</html>